@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>This text has been customized</h2>
    <p>Current server time is @DateTime.Now.ToString()</p>
</div>